:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
}

body {
  font-family: var(--main-font);
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
.address {
  font-style: normal;
}

img {
  display: block;
}
.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
  height: 80px;
  padding-top: 0px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.logo-1 {
  margin-right: 90px;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.header .address {
  display: flex;
  padding-left: 305px;
}

.header-tel-link {
  display: flex;
  width: 161px;
  flex-direction: row-reverse;
}
.tel-link-add-1 {
  padding-right: 10px;
}
.tel-link-add-2 {
  padding-left: 30px;
  padding-right: 10px;
}
.logo,
.logo-1 {
  font-family: var(--secondary-font);
  font-style: 400;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo {
  color: #2196f3;
}
.logo-1 {
  color: #000000;
}
.footer .logo-1 {
  color: #ffffff;
}
.logo-0 {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-tel-link:hover,
.header-tel-link:focus {
  color: #2196f3;
}
.navigation-list,
.header-tel-link {
  font-style: 400;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
}
.navigation-list {
  color: #212121;
}
.header-tel-link {
  color: #757575;
}

.heading {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.modal-btn {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 28px;
  margin: 0 auto;
}
.section-details {
  display: flex;
  padding-top: 80px;
}
.about-details-heading {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about-details-text {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.section-work-heading,
.section-command-heading {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.section-command-name {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-command-proffesion {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.address-location,
.address-mail,
.address-tel {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.address-location {
  color: #ffffff;
}

.address-mail,
.address-tel {
  color: #ffffff;
}
.container {
  width: 1170px;
  margin: 0 auto;
}
ul {
  padding: 0;
}

.section-heading {
  display: flex;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/heading/img.png");
  background-repeat: no-repeat;
  background-size: cover;
  fill: #2f303a, 40%;
  flex-grow: 1;
  background-color: rgba(47, 48, 58, 0.4);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/heading/img.png");
}
.section-heading .heading {
  text-align: center;
  margin-bottom: 30px;
}
.section-heading .modal-btn {
  margin: 0 auto;
}
.section-details {
  padding-top: 95px;
  padding-bottom: 95px;
}
.section-details .about-details:not(:last-child) {
  margin-right: 30px;
}
.section-details .about-details {
  width: 270px;
}
.section-work {
  padding-bottom: 95px;
}
.section-work .section-work-heading {
  text-align: center;
  margin-bottom: 50px;
}
.section-work .section-work-list {
  display: flex;
  width: 370px;
}
.section-work .images-work-item:not(:last-child) {
  margin-right: 30px;
}
.section-command {
  padding-top: 95px;
  padding-bottom: 95px;
}
.section-command .section-command-heading {
  text-align: center;
  margin-bottom: 50px;
}
.section-command .command-item {
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.section-command .section-command-list {
  display: flex;
  width: 270px;
}
.section-command .command-item:not(:last-child) {
  margin-right: 30px;
}
.section-command .section-command-name {
  padding-top: 30px;
  padding-bottom: 10px;
}
.section-command .section-command-proffesion {
  padding-bottom: 15px;
}

.hero {
  padding-top: 98px;
  padding-bottom: 35px;
}
.hero .modal-btn-1:not(:last-child) {
  margin-right: 8px;
}
.hero .btn-all {
  display: flex;
  justify-content: center;
}
.modal-btn-1 {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: #212121;
}
.modal-btn-1:hover,
.modal-btn-1:focus {
  color: #ffff;
}
.section-work-heading-1 {
  font-family: var(--main-font);
  font-style: 400;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.section-work-1 {
  padding-bottom: 90px;
}
.section-work-app {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
.section-work-1 .section-work-list-1 {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
  flex-basis: calc((100% - 3 * 30px) / 3);
}
.section-work-1 .section-work-item {
  margin-right: 30px;
  width: 370px;
  margin-bottom: 30px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.section-work-1 .text {
  width: 322px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 25px;
  margin-left: 25px;
}

.details-1::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url("../images/svg-for-sprite/antenna.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-grow: 1;
  background-image: linear-gradient(#F5F4FA), rgba(#F5F4FA)), url("../images/svg-for-sprite/antenna.svg");
  margin-bottom: 30px;
}
.details-2::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url("../images/svg-for-sprite/clock.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-grow: 1;
  background-image: linear-gradient(#F5F4FA), rgba(#F5F4FA)), url("../images/svg-for-sprite/clock.svg");
  margin-bottom: 30px;
}
.details-3::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url("../images/svg-for-sprite/diagram.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-grow: 1;
  background-image: linear-gradient(#F5F4FA), rgba(#F5F4FA)), url("../images/svg-for-sprite/diagram.svg");
  margin-bottom: 30px;
}
.details-4::before {
  display: block;
  content: "";
  width: 270px;
  height: 120px;
  background-image: url("../images/svg-for-sprite/astronaut.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: #f5f4fa;
  border-radius: 4px;
  flex-grow: 1;
  background-image: linear-gradient(#F5F4FA), rgba(#F5F4FA)), url("../images/svg-for-sprite/astronaut.svg");
  margin-bottom: 30px;
}
.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
}
.social-list-link:hover {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-svg {
  fill: #ffffff;
}

.social-list-svg {
  width: 20px;
  height: 20px;
}

.social-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.social-list-item {
  padding-top: 15px;
  padding-bottom: 30px;
}
.section-clients {
  padding-top: 95px;
  padding-bottom: 95px;
}
.section-clients .section-our-clients {
  margin-bottom: 50px;
  text-align: center;
}
.section-clients .clients-elements {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.images-client {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  padding-right: 30px;
  background-color: #ffffff;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}
.images-client:hover {
  border: 1px solid #2196f3;
}
.images-client-link:hover {
  background-color: #2196f3;
}
.client-svg-1 {
  width: 44px;
  height: 49px;
}
.client-svg-2 {
  width: 40px;
  height: 52px;
}
.client-svg-3 {
  width: 41px;
  height: 43px;
}
.client-svg-4 {
  width: 80px;
  height: 42px;
}
.client-svg-5 {
  width: 59px;
  height: 47px;
}
.client-svg-6 {
  width: 89px;
  height: 45px;
}
.address {
  display: flex;
}
.footer {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer .address-list-item {
  display: flex;
  text-align: center;
  justify-items: center;
  margin-top: 32px;
}
.footer .contact-all {
  display: flex;
  justify-content: flex-start;
  text-align: start;
}
.footer .social {
  padding-left: 85px;
  padding-top: 12px;
}
.footer .social-list-item {
  margin-right: 10px;
}
